.video-list-container {
  background-color: #f6f6ef;
  margin-bottom: 80px;
  padding-bottom: 30px;
}
.video-list {
  margin: 20px;
}
.video-list-title {
  background-color: #666;
  padding: 8px;
  color: #fff;
}
.tag-line {
  padding-left: 18px;
}
